<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title><%= title %></title>
    <link href="/css/global.css" rel="stylesheet" />
    <!-- Tailwind CSS CDN -->
    <script src="https://cdn.tailwindcss.com"></script>
    <script
      type="module"
      src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"
    ></script>
    <script
      nomodule
      src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"
    ></script>

    <!-- Tailwind CDN Configuration for Preline -->
    <script>
      tailwind.config = {
        content: [
          "./**/*.{ejs}",
          "./node_modules/preline/dist/*.js",
          "./node_modules/flowbite/**/*.js",
        ],
        theme: {
          extend: {
            screens: {
              c1: "1000px",
              xs: "380px",
            },
          },
        },
      };
    </script>
  </head>
  <body class="bg-slate-950">
    <div class="bg-white">
      <%- include('./navbar') %>
      <div class="min-h-[100vh]"><%- body %></div>
      <%- include('./footer') %>
    </div>
  </body>
</html>
<script src="/node_modules/preline/dist/preline.js"></script>
<script src="/node_modules/flowbite/dist/flowbite.min.js"></script>
<script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="/js/rtnotif.js"></script>
