<div class="flex items-center justify-center">
    <div class="flex items-center justify-between border rounded-lg w-[400px] h-16 mt-4 bg-white shadow-lg px-4">
        <div class="flex items-center">
            <img class="mx-3" src="/img/coinwallet.png" alt="Icon Wallet">
            <div>Rp</div>
            <p class="mx-2">0</p>
        </div>
        
        <div class="grid grid-cols-1 items-center text-center hover:scale-110">
            <img class="mx-4" src="/img/plus.png" alt="Icon Plus">
            <div class="text-sm">Top Up</div>
        </div>
    </div>
</div>