<div class="p-10">
  <h1 class="font-bold text-5xl text-center m-4">About A3Mart</h1>

  <div class="flex flex-col w-full gap-2 max-w-5xl mx-auto p-4">
    <div class="text-center">
      <h2 class="text-3xl font-bold">Mengapa Pilih A3Mart?</h2>
    </div>

    <!-- top 1 -->
    <div class="grid md:grid-cols-5 grid-cols-1 items-center gap-6">
      <img
        src="/img/about/about_top_1.png"
        alt="Belanja kebutuhan mingguan"
        class="w-72object-contain justify-self-center col-span-2"
      />
      <div class="col-span-3">
        <h4 class="text-xl font-bold mb-2">
          Belanja kebutuhan mingguan on-demand
        </h4>
        <p class="text-gray-700">
          Kapanpun kamu perlu belanja kebutuhan sehari-hari sampai kebutuhan
          mendadak, A3Mart siap bantuin! Tinggal pilih produk yang kamu
          butuhkan, bayar, terus duduk santai deh. Promonya juga tidak kalah
          menarik, lho!
        </p>
      </div>
    </div>

    <!-- top 2 -->
    <div class="grid md:grid-cols-5 grid-cols-1 items-center gap-4">
      <div class="col-span-3">
        <h4 class="text-xl font-bold mb-2">Stok yang akurat</h4>
        <p class="text-gray-700">
          Produk yang dapat dipesan di aplikasi pasti tersedia (stok diperbarui
          setiap hari) dan siap dikirim.
        </p>
      </div>
      <img
        src="/img/about/about_top_2.png"
        alt="Stok yang akurat"
        class="w-72object-contain justify-self-center col-span-2"
      />
    </div>

    <!-- top 3 -->
    <div class="grid md:grid-cols-5 grid-cols-1 items-center gap-4">
      <img
        src="/img/about/about_top_3.png"
        alt="Pengiriman Instan"
        class="w-72object-contain justify-self-center col-span-2"
      />
      <div class="col-span-3">
        <h4 class="text-xl font-bold mb-2">Pengiriman Instan</h4>
        <p class="text-gray-700">
          A3Mart akan mengirimkan pesanan kamu secara instan selama toko buka,
          dengan biaya yang terjangkau!
        </p>
      </div>
    </div>

    <!-- top 4 -->
    <div class="grid md:grid-cols-5 grid-cols-1 items-center gap-4">
      <div class="col-span-3">
        <h4 class="text-xl font-bold mb-2">Buka sampai malam</h4>
        <p class="text-gray-700">
          Butuh belanja pas malem-malem? Tenang! A3Mart selalu bisa diandelin.
        </p>
      </div>
      <img
        src="/img/about/about_top_4.png"
        alt="Buka sampai malam"
        class="w-72object-contain justify-self-center col-span-2"
      />
    </div>

    <!-- FAQ Section -->
    <div class="grid md:grid-cols-5 grid-cols-1 items-center gap-4">
      <img
        src="/img/about/about_faq.png"
        alt="Info Selengkapnya"
        class="w-72object-contain justify-self-center col-span-1"
      />
      <div class="col-span-4">
        <h4 class="text-xl font-bold mb-2">Info Selengkapnya</h4>
        <p class="text-gray-700">
          Untuk informasi lebih lanjut, silahkan buka halaman FAQ atau bisa
          langsung menghubungi kami.
        </p>
      </div>
    </div>
  </div>
</div>
