<h1 class="font-bold text-5xl m-2 text-center">About A3Mart</h1>

<div class="grid md:grid-cols-2 gap-6 w-full justify-center">
  <div class="grid col-span-2">
    <h2 class="text-3xl font-bold">Mengapa Pilih A3 Mart?</h2>
  </div>

  <!-- top 1 -->
  <div class="grid col-span-2">
    <div class="flex justify-center items-center">
    <div class="mr-10">
      <img src="/img/about_top_1.png" alt="" />
      </div>
      <div></div>
        <h4 class="text-lg font-bold">Belanja kebutuhan mingguan on-demand</h4>
        <p>
          Kapanpun kamu perlu belanja kebutuhan sehari-hari sampai kebutuhan
          mendadak, A3Mart siap bantuin! Tinggal pilih produk yang kamu
          butuhkan, bayar, terus duduk santai deh. Promonya juga tidak kalah
          menarik, lho!
        </p>
      </div>
    </div>
  </div>

  <!-- top 2 -->
  <div class="grid col-span-2">
    <div class="flex justify-center items-center">
      <div class="mr-10">
        <h4 class="text-lg font-bold">Stok yang akurat</h4>
        <p>
          Produk yang dapat dipesan di aplikasi pasti tersedia (stok diperbarui
          setiap hari) dan siap dikirim.
        </p>
      </div>
      <div><img src="/img/about_top_2.png" alt="" /></div>
    </div>
  </div>

  <!-- top 3 -->
  <div class="grid col-span-2">
    <div class="flex justify-center items-center">
      <div class="mr-10"><img src="/img/about_top_3.png" alt="" /></div>
      <div>
        <h4 class="text-lg font-bold">Pengiriman Instan</h4>
        <p>
          A3Mart akan mengirimkan pesanan kamu secara instan selama toko buka,
          dengan biaya yang terjangkau!
        </p>
      </div>
    </div>
  </div>

  <!-- top 4 -->
  <div class="grid col-span-2">
    <div class="flex justify-center items-center">
      <div class="mr-10">
        <h4 class="text-lg font-bold">Buka sampai malam</h4>
        <p>
          Butuh belanja pas malem-malem? Tenang! A3Mart selalu bisa diandelin
        </p>
      </div>
      <div><img src="/img/about_top_4.png" alt="" /></div>
    </div>
  </div>

  <!-- Faq -->
  <div class="grid col-span-2 mb-10">
    <div class="flex justify-center items-center">
      <div class="mr-10"><img src="/img/about_faq.png" alt="" /></div>
      <div>
        <h4 class="text-lg font-bold">Info Selengkapnya</h4>
        <p>
          Untuk informasi lebih lanjut, silahkan buka halaman FAQ atau bisa
          langsung menghubungi kami
        </p>
      </div>
    </div>
  </div>
</div>
