<title>Forgot Password</title>

<script src="https://cdn.tailwindcss.com"></script>
<script src="https://cdn.jsdelivr.net/npm/tw-elements@latest/dist/js/index.min.js"></script>

<section class="h-screen">
    <div class="h-full flex items-center justify-center">
        <!-- Left column: Image -->
        <div class="hidden lg:flex w-6/12">
            <img src="https://tecdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.webp" class="w-full"
                alt="Sample image" />
        </div>

        <!-- Right column: Forms Container -->
        <div class="w-full max-w-md p-6 bg-white rounded-lg shadow-lg" onsubmit="">
            <!-- Reset Password Form -->
            <form id="resetForm" class="space-y-6">
                <h1 class="text-center text-3xl font-bold">Reset Password</h1>

                <div class="mb-6">
                    <label for="newPassword" class="block text-gray-900">New Password</label>
                    <input type="password" id="newPassword" name="newPassword"
                        class="w-full border rounded py-3 px-3 focus:outline-none focus:ring-2 focus:ring-blue-500"
                        placeholder="Enter your new password" required />
                </div>

                <div class="mb-6">
                    <label for="confirmNewPassword" class="block text-gray-900">Confirm New Password</label>
                    <input type="password" id="confirmNewPassword" name="confirmNewPassword"
                        class="w-full border rounded py-3 px-3 focus:outline-none focus:ring-2 focus:ring-blue-500"
                        placeholder="Same with password" required />
                </div>

                <button type="submit" class="w-full bg-blue-500 text-white py-2 rounded hover:bg-blue-600">Reset
                    Password</button>
            </form>

        </div>
    </div>
</section>

<script src="forgotpass.js"></script>