<div class="bg-gray-200">
  <nav class="relative z-0 flex overflow-hidden" aria-label="Tabs" role="tablist" aria-orientation="horizontal">
    <button type="button"
      class="hs-tab-active:border-b-lime-600 hs-tab-active:border-b-2 hs-tab-active:text-gray-900 dark:hs-tab-active:text-white relative min-w-0 flex-1 bg-white py-4 px-4 text-gray-500 hover:text-gray-700 text-2xl font-medium text-center overflow-hidden hover:bg-gray-50 focus:z-10 focus:outline-none focus:text-lime-600 focus:border-b-2 focus:border-lime-600 disabled:opacity-50 disabled:pointer-events-none dark:bg-neutral-800 dark:text-neutral-400 dark:hover:bg-neutral-700 dark:hover:text-neutral-400 active"
      id="bar-with-underline-item-1" aria-selected="true" data-hs-tab="#bar-with-underline-1"
      aria-controls="bar-with-underline-1" role="tab">
      Instan
    </button>
    <button type="button"
      class="hs-tab-active:border-b-lime-600 hs-tab-active:border-b-2 hs-tab-active:text-gray-900 dark:hs-tab-active:text-white relative min-w-0 flex-1 bg-white py-4 px-4 text-gray-500 hover:text-gray-700 text-2xl font-medium text-center overflow-hidden hover:bg-gray-50 focus:z-10 focus:outline-none focus:text-lime-600 focus:border-b-2 focus:border-lime-600 disabled:opacity-50 disabled:pointer-events-none dark:bg-neutral-800 dark:text-neutral-400 dark:hover:bg-neutral-700 dark:hover:text-neutral-400"
      id="bar-with-underline-item-2" aria-selected="false" data-hs-tab="#bar-with-underline-2"
      aria-controls="bar-with-underline-2" role="tab">
      Metode Lain
    </button>
  </nav>

  <div class="flex items-center justify-center h-screen w-screen">

    <div id="bar-with-underline-1" role="tabpanel" aria-labelledby="bar-with-underline-item-1">
      <div class="h-[280px] w-[500px] border bg-white rounded-xl shadow-md flex justify-center">
        <div class="relative w-[90%] mt-6">

          <div class="flex justify-center items-center space-x-2">
            <span class="text-lg font-extrabold">Rp</span>
            <input type="text" id="amount"
              class="bg-gray-200 h-[25%] w-full pl-7 rounded-xl px-3 border-none focus:ring-lime-500"
              placeholder="Enter amount">
          </div>

          <div class="flex justify-between">
            <button class="border-none rounded-3xl mt-20 bg-gray-300 w-28 text-lg font-bold h-10 text-center flex items-center justify-center focus:outline-none focus:border-lime-500 focus:ring-2 focus:ring-lime-500">
              9,5
            </button>
            <button class="border-none rounded-3xl mt-20 bg-gray-300 w-28 text-lg font-bold h-10 text-center flex items-center justify-center focus:outline-none focus:border-lime-500 focus:ring-2 focus:ring-lime-500">
              18,5
            </button>
            <button class="border-none rounded-3xl mt-20 bg-gray-300 w-28 text-lg font-bold h-10 text-center flex items-center justify-center focus:outline-none focus:border-lime-500 focus:ring-2 focus:ring-lime-500">
              181,5
            </button> 
          </div>
          
          <div class="flex justify-between">
            <button class="border-none rounded-3xl mt-10 bg-gray-300 w-28 text-lg font-bold h-10 text-center flex items-center justify-center focus:outline-none focus:border-lime-500 focus:ring-2 focus:ring-lime-500">
              9,5
            </button>
            <button class="border-none rounded-3xl mt-10 bg-gray-300 w-28 text-lg font-bold h-10 text-center flex items-center justify-center focus:outline-none focus:border-lime-500 focus:ring-2 focus:ring-lime-500">
              18,5
            </button>
            <button class="border-none rounded-3xl mt-10 bg-gray-300 w-28 text-lg font-bold h-10 text-center flex items-center justify-center focus:outline-none focus:border-lime-500 focus:ring-2 focus:ring-lime-500">
              181,5
            </button>
          </div>
  
        </div>
      </div>
    </div>    

        </div>
      </div>
    </div>    

    <div id="bar-with-underline-2" class="hidden" role="tabpanel" aria-labelledby="bar-with-underline-item-2">
      <p class="text-gray-500 dark:text-neutral-400">
        This is the <em class="font-semibold text-gray-800 dark:text-neutral-200">second</em> item's tab body.
      </p>
    </div>
  </div>

</div>