<section class="min-h-screen grid grid-cols-1 lg:grid-cols-2">
  <!-- Left column: Image -->
  <div class="hidden lg:flex min-h-screen pl-8 items-center justify-center">
    <img src="/img/logo_A3Mart.png" class="w-full" alt="Sample image" />
  </div>

  <!-- Right column: Forms Container -->
  <div class="flex py-6 justify-center items-center">
    <div
      class="xs:max-w-md w-full p-6 flex flex-col items-center justify-center bg-white rounded-lg shadow-lg"
    >
      <!-- Register Form -->
      <form
        id="registerForm"
        method="post"
        action="/register/user-data"
        class="space-y-6 w-full mx-auto"
        novalidate
      >
        <h1 class="text-center text-3xl font-bold">User Data</h1>

        <% if (errors.length > 0) { %>
        <div
          id="alertBox"
          class="p-4 mb-4 border border-red-400 text-red-700 bg-red-100 rounded-lg relative"
          role="alert"
        >
          <strong class="font-bold">Oops! Something went wrong:</strong>
          <ul class="mt-2">
            <% errors.forEach(error => { %>
            <li class="ml-4 list-disc"><%= error.msg %></li>
            <% }) %>
          </ul>
          <button
            onclick="closeAlert()"
            class="absolute top-1 right-1 text-red-700 hover:text-red-900 focus:outline-none"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="16"
              height="16"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
              class="lucide lucide-x"
            >
              <path d="M18 6 6 18" />
              <path d="m6 6 12 12" />
            </svg>
          </button>
        </div>
        <% } %>

        <!-- Username input -->
        <div class="mb-6 relative">
          <label for="fullname" class="block text-gray-900">Full Name</label>
          <div
            class="flex items-center border border-gray-400 rounded"
            id="no_hpSection"
          >
            <span class="flex items-center mx-3">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="text-gray-400"
                width="18"
                height="18"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
                class="lucide lucide-users-round"
              >
                <path d="M18 21a8 8 0 0 0-16 0" />
                <circle cx="10" cy="8" r="5" />
                <path d="M22 20c0-3.37-2-6.5-4-8a5 5 0 0 0-.45-8.3" />
              </svg>
            </span>
            <input
              type="text"
              id="fullname"
              name="fullname"
              value="<%= fullname %>"
              class="w-full rounded-l-none rounded-r border-gray-400 border-r-0 border-y-0 border-l py-3 px-3 focus:outline-none focus:ring-2 focus:ring-lime-500 read-only:bg-gray-100 read-only:text-gray-400 read-only:border-gray-300"
              placeholder="Type your full name"
              required
            />
          </div>
          <div id="nameError" class="italic text-red-600 hidden">
            Full name is required.
          </div>
        </div>

        <!-- no_hp Number input -->
        <div class="mb-6 relative">
          <label for="no_hp" class="block text-gray-900">Phone Number</label>
          <div
            class="flex items-center border border-gray-400 rounded"
            id="no_hpSection"
          >
            <span class="flex items-center mx-3">
              <svg
                id="no_hpIcon"
                xmlns="http://www.w3.org/2000/svg"
                width="18"
                height="18"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
                class="text-gray-400"
              >
                <path
                  d="M22 16.92v3a2 2 0 0 1-2.18 2 19.79 19.79 0 0 1-8.63-3.07 19.5 19.5 0 0 1-6-6 19.79 19.79 0 0 1-3.07-8.67A2 2 0 0 1 4.11 2h3a2 2 0 0 1 2 1.72 12.84 12.84 0 0 0 .7 2.81 2 2 0 0 1-.45 2.11L8.09 9.91a16 16 0 0 0 6 6l1.27-1.27a2 2 0 0 1 2.11-.45 12.84 12.84 0 0 0 2.81.7A2 2 0 0 1 22 16.92z"
                />
              </svg>
            </span>
            <input
              type="tel"
              id="no_hp"
              name="no_hp"
              value="<%= no_hp %>"
              class="w-full rounded-l-none rounded-r border-gray-400 border-r-0 border-y-0 border-l py-3 px-3 focus:outline-none focus:ring-2 focus:ring-lime-500 read-only:bg-gray-100 read-only:text-gray-400"
              placeholder="Type your phone number"
              required
              readonly
              pattern="^0\\d{9,13}$"
              aria-invalid="false"
              aria-describedby="no_hpError"
            />
          </div>
          <div id="no_hpError" class="italic text-red-600 hidden">
            Enter a valid phone number.
          </div>
        </div>

        <!-- Email input -->
        <div class="mb-6 relative">
          <label for="email" class="block text-gray-900">Email Address</label>
          <div
            class="flex items-center border border-gray-400 rounded"
            id="no_hpSection"
          >
            <span class="flex items-center mx-3">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="18"
                height="18"
                viewBox="0 0 24 24"
                class="text-gray-400"
                fill="none"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
                class="lucide lucide-at-sign"
              >
                <circle cx="12" cy="12" r="4" />
                <path d="M16 8v5a3 3 0 0 0 6 0v-1a10 10 0 1 0-4 8" />
              </svg>
            </span>
            <input
              type="email"
              id="email"
              name="email"
              value="<%= email %>"
              class="w-full rounded-l-none rounded-r border-gray-400 border-r-0 border-y-0 border-l py-3 px-3 focus:outline-none focus:ring-2 focus:ring-lime-500 read-only:bg-gray-100 read-only:text-gray-400 read-only:border-gray-300"
              placeholder="Type your email address"
              required
              pattern="^[^\s@]+@[^\s@]+\.[^\s@]+$"
            />
          </div>
          <div id="emailError" class="italic text-red-600 hidden">
            Enter a valid email address.
          </div>
        </div>

        <!-- Register button -->
        <button
          type="submit"
          class="w-full bg-lime-500 text-white py-2 rounded hover:bg-gray-800 focus:outline-none focus:ring-2 focus:ring-lime-300"
        >
          Register
        </button>

        <!-- Login link -->
        <p class="text-center">
          Already have an account?
          <a
            href="/sign-in"
            class="text-lime-500 hover:text-lime-700 hover:underline"
            >Login</a
          >
        </p>
      </form>

      <!-- Image for small screens -->
      <div
        class="lg:hidden flex justify-center items-center mt-6 bg-slate-900 rounded-lg p-3"
      >
        <img src="/img/logo_A3Mart.png" class="w-full" alt="Sample image" />
      </div>
    </div>
  </div>
</section>

<script src="/js/user_data.js"></script>
