<section class="h-screen">
    <div class="h-full flex items-center justify-center">
        <!-- Right column: Forms Container -->
        <div class="w-full max-w-md p-6 bg-white rounded-lg shadow-lg">
            <!-- Verify Form input -->
            <form id="verifyForm" class="space-y-6" >
                <h1 class="text-center text-3xl font-bold">Verify OTP</h1>
                <p class="text-center text-gray-500">Enter the 6-digit OTP sent to your email.</p>

                <div class="flex space-x-2 justify-center">
                    <input type="text"
                        class="block w-12 h-12 text-center bg-gray-200 border-transparent rounded-md text-sm focus:border-blue-500 focus:ring-blue-500 disabled:opacity-50 disabled:pointer-events-none dark:bg-neutral-700 dark:border-transparent dark:text-neutral-400 dark:placeholder-neutral-500 dark:focus:ring-neutral-600"
                        placeholder="⚬" data-hs-pin-input-item="">
                    <input type="text"
                        class="block w-12 h-12 text-center bg-gray-200 border-transparent rounded-md text-sm focus:border-blue-500 focus:ring-blue-500 disabled:opacity-50 disabled:pointer-events-none dark:bg-neutral-700 dark:border-transparent dark:text-neutral-400 dark:placeholder-neutral-500 dark:focus:ring-neutral-600"
                        placeholder="⚬" data-hs-pin-input-item="">
                    <input type="text"
                        class="block w-12 h-12 text-center bg-gray-200 border-transparent rounded-md text-sm focus:border-blue-500 focus:ring-blue-500 disabled:opacity-50 disabled:pointer-events-none dark:bg-neutral-700 dark:border-transparent dark:text-neutral-400 dark:placeholder-neutral-500 dark:focus:ring-neutral-600"
                        placeholder="⚬" data-hs-pin-input-item="">
                    <input type="text"
                        class="block w-12 h-12 text-center bg-gray-200 border-transparent rounded-md text-sm focus:border-blue-500 focus:ring-blue-500 disabled:opacity-50 disabled:pointer-events-none dark:bg-neutral-700 dark:border-transparent dark:text-neutral-400 dark:placeholder-neutral-500 dark:focus:ring-neutral-600"
                        placeholder="⚬" data-hs-pin-input-item="">
                    <input type="text"
                        class="block w-12 h-12 text-center bg-gray-200 border-transparent rounded-md text-sm focus:border-blue-500 focus:ring-blue-500 disabled:opacity-50 disabled:pointer-events-none dark:bg-neutral-700 dark:border-transparent dark:text-neutral-400 dark:placeholder-neutral-500 dark:focus:ring-neutral-600"
                        placeholder="⚬" data-hs-pin-input-item="">
                    <input type="text"
                        class="block w-12 h-12 text-center bg-gray-200 border-transparent rounded-md text-sm focus:border-blue-500 focus:ring-blue-500 disabled:opacity-50 disabled:pointer-events-none dark:bg-neutral-700 dark:border-transparent dark:text-neutral-400 dark:placeholder-neutral-500 dark:focus:ring-neutral-600"
                        placeholder="⚬" data-hs-pin-input-item="">
                </div>

                <button type="submit"
                    class="w-full bg-blue-500 text-white py-2 rounded hover:bg-blue-600">Verify</button>
            </form>

            <!-- Reset Password Form -->
            <form id="resetForm" class="space-y-6 hidden">
                <h1 class="text-center text-3xl font-bold">Reset Password</h1>

                <div class="mb-6">
                    <label for="newPassword" class="block text-gray-900">New Password</label>
                    <input type="password" id="newPassword" name="newPassword"
                        class="w-full border rounded py-3 px-3 focus:outline-none focus:ring-2 focus:ring-blue-500"
                        placeholder="Enter your new password" required />
                </div>

                <div class="mb-6">
                    <label for="confirmNewPassword" class="block text-gray-900">Confirm New Password</label>
                    <input type="password" id="confirmNewPassword" name="confirmNewPassword"
                        class="w-full border rounded py-3 px-3 focus:outline-none focus:ring-2 focus:ring-blue-500"
                        placeholder="Same with password" required />
                </div>

                <button type="submit" class="w-full bg-blue-500 text-white py-2 rounded hover:bg-blue-600">Reset
                    Password</button>
            </form>
        </div>
    </div>
</section>