<div class="max-w-4xl mx-auto my-8 p-6 rounded-lg bg-gray-50 dark:bg-gray-900 shadow-lg">
    <p class="font-bold text-center text-3xl text-gray-800 dark:text-white">Notification</p>

    <% if (user.notification.length > 0) { %>
        <div class="space-y-6 mt-6">
            <% user.notification.forEach(item => { %>
                <a href="/notification/detail" class="flex items-center space-x-6 p-5 bg-white dark:bg-gray-800 rounded-lg shadow-md border border-gray-200 dark:border-gray-700 transition-transform transform hover:scale-105 hover:shadow-xl">
                    <% if (user.notification.icon.toLowerCase() === "top up") { %>
                        
                    <% } %>
                </a>
            <% }) %>
        </div>
    <% } else { %>
      
    <% } %>
</div>