<section class="h-screen">
  <div class="h-full flex items-center justify-center bg-gray-900 relative">
    <!-- Form Container -->
    <div
      class="w-full xs:mx-10 xs:max-w-md p-6 bg-white rounded-lg shadow-lg z-10"
    >
      <!-- Forgot Password Form -->
      <form id="loginForm" class="space-y-6" onsubmit="SendPIN(event)">
        <h1 class="text-center text-3xl font-bold">Forgot Password</h1>

        <!-- Email input -->
        <div class="mb-6">
          <label for="email" class="block text-gray-800">Email Address</label>
          <input
            type="email"
            id="email"
            name="email"
            placeholder="Enter your email"
            class="w-full border rounded py-3 px-3 focus:outline-none focus:ring-2 focus:ring-lime-500"
            autocomplete="off"
            required
          />
        </div>

        <!-- PIN button -->
        <button
          type="submit"
          id="sendPin"
          class="w-full bg-lime-500 text-white py-2 rounded hover:bg-gray-800 focus:outline-none focus:ring-2 focus:ring-lime-300"
        >
          Send OTP
        </button>
      </form>

      <!-- Image for small screens -->
      <div
        class="sm:hidden flex justify-center items-center mt-6 bg-slate-900 rounded-lg p-3"
      >
        <img src="/img/logo_A3Mart.png" class="w-full" alt="Sample image" />
      </div>
    </div>
  </div>

  <!-- Background Image -->
  <img
    src="/img/logo_A3Mart.png"
    alt="Background Logo"
    class="xs:block hidden absolute inset-0 w-full h-full object-contain opacity-10"
  />
</section>

<script>
  function SendPIN(event) {
    event.preventDefault(); // Prevent the form from submitting
    const email = document.getElementById("email").value;

    // Basic email validation
    const emailPattern = /^[^\s@]+@[^\s@]+\.[^\s@]+$/;
    if (!email || !emailPattern.test(email)) {
      alert("Please enter a valid email address!");
      return;
    }

    const pin = Math.floor(100000 + Math.random() * 900000);
    alert(`Dear ${email}, here is your OTP: ${pin}`);
    window.location.href = "/verify"; // Redirecting to verify page
  }

  document.getElementById("sendPin").addEventListener("click", SendPIN);
</script>
